<div class="colContainer">
	<app-logo></app-logo>
	<h1>Hello from InterSystems DACH 👋</h1>
	@for (repo of getRepos(); track $index) {
		<li>
			<a href="{{ repo.url }}" target="_blank">{{ repo.name }}</a>
		</li>
	}
	<div class="iconContainer">
		<a
			href="https://github.com/intersystems-dach"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-github icon"></i>
		</a>
		<a
			href="https://www.linkedin.com/company/intersystems-dach"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-linkedin icon"></i>
		</a>
		<a href="" target="_blank" rel="noopener noreferrer">
			<i class="bi bi-instagram icon"></i>
		</a>
		<a
			href="https://twitter.com/InterSystems_DE"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-twitter-x icon"></i>
		</a>
		<a
			href="https://www.youtube.com/@InterSystemsDE"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-youtube icon"></i>
		</a>
	</div>
</div>
<style lang="scss">
	.logo {
		width: 30%;
	}
	.iconContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 50px;
		* {
			margin-left: 5px;
		}
	}
</style>
