<div class="colContainer">
	<app-logo></app-logo>
	<h1>Hello from InterSystems DACH 👋</h1>
	<p>
		We are the German, Austrian and Swiss InterSystems team. We are here to
		help you with your InterSystems IRIS and InterSystems IRIS for Health
		projects.
	</p>
	<h2>Our Repositories</h2>
	<div class="repobox">
		@for (repo of getRepos(); track $index) {
			<app-repo-card [repo]="repo"></app-repo-card>
		}
	</div>
	<div class="iconContainer">
		<a
			href="https://github.com/intersystems-dach"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-github icon"></i>
		</a>
		<a
			href="https://www.linkedin.com/company/intersystems-dach"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-linkedin icon"></i>
		</a>
		<a href="" target="_blank" rel="noopener noreferrer">
			<i class="bi bi-instagram icon"></i>
		</a>
		<a
			href="https://twitter.com/InterSystems_DE"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-twitter-x icon"></i>
		</a>
		<a
			href="https://www.youtube.com/@InterSystemsDE"
			target="_blank"
			rel="noopener noreferrer"
		>
			<i class="bi bi-youtube icon"></i>
		</a>
	</div>
</div>
<style lang="scss">
	.logo {
		width: 30%;
	}
	.iconContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 50px;
		* {
			margin-left: 5px;
		}
	}
</style>
