body {
	margin: 0;
	padding: 0;
	background-color: #2e2a94;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.colContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: white;
}

.icon {
	font-size: 25px;
	cursor: pointer;
	&:hover {
		scale: 1.1;
	}
}
